@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Header */

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #009688;
}

.fixed {
  justify-content: flex-start;
  position: fixed;
  z-index: 999;
  height: 96.8px;
}

.fixed > .header-content > .header-links {
  position: relative;
  top: -22px;
  width: 22rem;
  font-size: 0.85em;
}

.fixed > .header-content > .header-section {
  position: relative;
  top: -10px;
}

.fixed > .header-content > .header-section > .header-logo {
  width: 100px;
  height: 25px;
}

.header-content {
  position: relative;
  width: 1070px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0.7rem 0;
}

.header-section {
  display: flex;
  align-items: center;
}

.header-logo {
  cursor: pointer;
  width: 104.4px;
  margin: 0 1rem;
}

.fixed ~ .main-content > .page-content-container > .form-container {
  position: fixed;
  z-index: 999;
  margin-top: 102px;
  height: 0;
}

.fixed ~ .main-content > .page-content-container > .form-container > #cnpj-form > .cnpj-input-container {
  position: relative;
  top: -35px;
}

.fixed ~ .main-content > .page-content-container > .form-container > #cnpj-form > .cnpj-input-container > .cnpj-input-title{
  position: relative;
  top: 13px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.fixed ~ .main-content > .page-content-container > .form-container > #cnpj-form > .cnpj-input-container > .input-container {
  height: 42px;
}

.fixed ~ .main-content > .page-content-container > .data-container {
  margin-top: 17.5rem;
}

.fixed ~ .main-content > .page-content-container > #first-page-content {
  padding-top: 19.5rem
}

.hamburger-menu {
  cursor: pointer;
  width: 1.2rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}

.hamburger-menu .line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 4px 0;
}

.header-links {
  text-decoration: none;
  color: white;
  width: 23.5rem;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.5px;
  font-size: 0.9em;
}

.header-links a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  line-height: 40px;
}

@media screen and (max-width: 200px) {
  .header-logo {
    display: none;
  }
}

@media screen and (max-width: 1124px) {
  .header-content {
    width: 88.5%;
  }
}

@media screen and (max-width: 700px) {
  .header-links a {
    display: none;
  }
}

#cnpj-form {
  width: 70%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cnpj-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cnpj-input-title {
  color: white;
  width: 604px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.input-container {
  background-color: white;
  width: 604px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  border: 2px solid #009688;
  border-radius: 2px;
  top: 1.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
}

@media only screen and (max-width: 436px) {
  .page-content {
    max-width: 585px;
  }
}

@media only screen and (max-width: 768px) {
  .input-container {
    width: 113%;
  }
}

@media only screen and (max-width: 600px) {
  .cnpj-input-title {
    width: 110%;
    text-align: center;
  }
}

.input-icon {
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-icon button {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.alert-icon {
  width: 60%;
  display: none;
}

.search-icon {
  width: 60%;
}

#cnpj-input {
  position: relative;
  right: 8px;

  color:#009688;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  overflow: hidden;

  font-size: 1.1em;
  text-align: center;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* /Header */

/* Content */
.page-content-container {
  background-color: rgba(0, 150, 136, 0.15);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 30.4rem;
}

.form-container {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  /* box-shadow: 0 3px 10px -3px rgb(0 0 0 / 30%); */
  background: #009688;
}

.page-content {
  width: 70%;
  max-width: 651px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem 0 2.5rem 2rem;
  position: relative;
}

#first-page-content {
  padding-top: 7.5rem
}

.page-content h2 {
  color: #0080cc;
  font-size: 2.1em;
  line-height: 1em;
  font-weight: 300;
  margin: 20px 0;
  position: relative;
  float: left;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content p {
  line-height: 1.6em;
  font-size: 1.1em;
  opacity: 0.8;
  font-weight: 400;

  position: relative;
  float: left;
  text-align: justify;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b2738;
}
/* /Content */

/* Data */
.error {
  color: red !important;
  border: 2px solid red;
}

.alert-icon-error {
  width: 60%;
  display: block;
  fill: red;
}

.justify-start {
  justify-content: start;
}

.data-container {
  margin: 5rem 0;
  min-height: 12rem;
  width: 1085px;
  background-color: white;
  box-shadow: 0 0.5em 2em rgb(0 150 136 / 20%);
  padding: 3rem 2rem;
  border: 1px solid rgba(0, 150, 136, 0.2);
}

li {
  list-style: none;
  margin-bottom: 0.5em;
}
/* /Data */

/* Query */
.content-item h2 {
  font-size: 1.6rem;
  line-height: 1rem;
  font-weight: 500;
  color: #009688;
  margin-bottom: 2rem;
}

.content-item h3 {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.85;
  line-height: 0.9em;
  color: #1b2738;
}

.content-item p {
  opacity: 0.6;
  margin-top: 2px;
}

.content-item:not(:first-of-type) {
  margin-top: 100px;
}

.content-item:not(:first-of-type) h2 {
  opacity: 0.8;
  margin-bottom: 3rem;
}

.container-address {
  display: flex;
}

.container-address iframe {
  width: 100%;
  height: 200px;
  border: 0;
}

.container-address div {
  width: 50%;
}

.content-list-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem 0;
}

.content-list-container li {
  width: 50%;
}

.content-list-container.content-list-container--column li {
  width: 100%;
}
/* /Query */

li h3 {
  opacity: 0.85;
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
}

.partners-container {
  /* border: 2px solid black; */
  margin: 2.5rem 0;
}

.partners-container h3 {
  margin-bottom: 1rem;
}

.partners-container p {
  margin-top: 0.5rem;
}

/* Footer */

footer {
  padding: 4rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  width: 1085px;
  height: 110.95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-logo {
  width: 104.4px;
}

.footer-section .cls-1-menu {
  fill: #30c1a5;
}

.footer-section .cls-2-menu {
  fill: #002c54;
}

.footer-section {
  display: flex;
}

.footer-section {
  flex-direction: column;
}

.footer-section .footer-copyright {
  font-size: 0.8rem;
  line-height: 0.9em;
  font-weight: 400;
  letter-spacing: 0.2px;
  opacity: 0.8;
  margin: 1em 0 0.8em;
}

.footer-section a {
  width: fit-content;
  color: white;
  background: #0080cc;
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 3px;
  font-size: 13px;
}

.footer-link a:hover {
  opacity: 1;
  color: #03a9f4;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 85px;
}

.footer-links ul {
  margin-right: 2.5rem;
  width: 12.5rem;
}

.footer-links ul li {
  text-align: center;
  font-size: 0.9rem;
  color: #1b2738;
}

.footer-links ul li p {
  font-weight: 700;
  padding-bottom: 0.5em;
  opacity: 0.9;
}

.footer-link a {
  display: block;
  font-weight: 400;
  font-size: 0.9rem;
  color: #1b2738;
  opacity: 0.75;
  text-decoration: none;
  transition: 0.15s all;
}

@media only screen and (max-width: 737px) {
  .footer-container {
    flex-direction: column-reverse;
  }

  .footer-section {
    align-items: center;
    justify-items: center;
  }
  
  .footer-section a {
    margin-top: 1rem;
    padding: 1rem 3rem;
  }

  .footer-links {
    flex-direction: column;
    margin: 0;
    width: 120%;
  }

  .footer-links ul {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-links li {
    margin: 0.4rem;
  }

  .footer-link {
    padding-left: 1rem;
  }
}

/* spinner */

@keyframes infinite-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 60%;
  animation: infinite-rotate 1s infinite;
  fill: #009688;
  stroke: transparent;
}