<div 
  {{did-update (perform this.getCnpjData @cnpjInputId) @cnpjInputId}}
  {{did-insert (perform this.getCnpjData @cnpjInputId) @cnpjInputId}}
>
</div>

{{yield this.getCnpjData.isRunning this.queryResult}}