{{log "LOADER RODADO" @urlCnpj}}
<div 
  {{did-insert (perform this.getCnpjData) @urlCnpj}}
  {{did-update (perform this.getCnpjData) @urlCnpj}}
>
</div>

{{yield (hash 
  isRunning=this.getCnpjData.isRunning
  data=this.queryResult)}}