{{page-title "Myapp"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
<h1>Hello, world!</h1>
<Header::Header />
{{!-- Feel free to remove this! --}}

{{outlet}}